/*
!*.sh
!/README.md
!/VERSIONING.md
!/afdian-OLD.md
!/CONTRIBUTING-OLD.md
!/.minecraft
/.minecraft/.mixin.out
/.minecraft/asm
/.minecraft/astralsorcery
/.minecraft/coremods
/.minecraft/crash-reports
/.minecraft/CustomSkinLoader
/.minecraft/dumps
/.minecraft/journeymap
/.minecraft/logs
/.minecraft/mods/*.jar
/.minecraft/mods/1.12.2
/.minecraft/mods/memory_repo
/.minecraft/resourcepacks
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/server-resource-packs
/.minecraft/shaderpacks
/.minecraft/texturepacks
/.minecraft/touhou-little-maid-server-pack
/.minecraft/tombstone
/.minecraft/.ReAuth.cfg
/.minecraft/BotaniaVars.dat
/.minecraft/crafttweaker.log
/.minecraft/nu-whitelist.txt
/.minecraft/options.txt
/.minecraft/patchouli_data.json
/.minecraft/roots.log
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/.minecraft/hei_bookmarks.ini