# Configuration file

i18nupdatemod {

    资源包下载 {
        # 用来设置获取下载源的资源包的MD5名称（注意：不带文件扩展名！）
        S:MD5名称=1.12.2

        # CFPA官方下载源：http://downloader1.meitangdehulu.com:22943  
        # 镜像下载源：https://gitcode.net/chearlai/translationpackmirror/files  
        # 注意：链接最后不要带任何符号（如：/）
        S:资源包下载源=https://gitcode.net/chearlai/translationpackmirror/files

        # 用来设置获取下载源的资源包名称（注意：不带文件扩展名！）
        S:资源包名称=Minecraft-Mod-Language-Modpack
    }

}


