# Configuration file

~CONFIG_VERSION: 0.1.0

world1544803905 {
    S:filterText=
}


world805325770 {
    # 当且仅当启用配方书签时，允许使用其进行自动合成。
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true

    # 在界面中点击流体原料时，用于填充流体的默认物品（格式：item_name@meta）
    S:defaultFluidContainerItem=

    # 在原料列表叠加层中点击原料以隐藏或取消隐藏。
    B:editEnabled=false
    S:filterText=@mekanismmu

    # 在打开的界面旁显示原料列表叠加层。
    B:overlayEnabled=true

    # 当且仅当启用配方书签时，允许使用其进行自动合成。
    B:recipeBookmarksEnabled=true
}


